<div class="modal-content">

    <div class="modal-body">

        <form role="form" name = "myForm" novalidate>
            <link href="styles/styles.css" rel="stylesheet" type="text/css" />
                <center> 
                <h2 CLASS="text-primary" id="headTab">About The Community</h2>
                <hr class="small">
                    <div class="row"> 
                        <p>This is where the community feature will go.</p>    
                    </div>
                </center>
        </form>
    </div>
    <div class="modal-footer">
                        <!--button type="button" ng-click="editAboutUser()" class="btn btn-dark">Submit</button -->
                        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                        <p class="text-danger">{{error}}</p>
    </div>
</div>