<div class="modal-content">

    <div class="modal-body">

        <form role="form" name = "myForm" ng-submit="editAbout(summary)" novalidate>
            <link href="styles/styles.css" rel="stylesheet" type="text/css" />
            <h3 CLASS="text-primary" id="headTab">Just a few questions to sign up!</h3>
            <br>
            <div class="div-padding">
                <div class="form-group">

                    <div class="col-xs-4" id="centerStuff">


                        <textarea rows="4" cols="50" type="text" id="username" name="username" ng-model="summary" class="form-control col-sm-2" placeholder="Summary">
                        <br>

               


            
                        <button type="submit" class="btn btn-dark">Submit</button>
                        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
          
                        <p class="text-danger">{{error}}</p>



                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        
    </div>
</div>