<ng-cloak>
    <div class="modal-content">

        <div class="modal-body addMargin">


            <link href="styles/styles.css" rel="stylesheet" type="text/css" />
            <h3 CLASS="text-primary" id="headTab">Change Profile Picture!</h3>
            <br>
            <div class="dropzone">
                <div class="div-padding">


              <p>Drag your files here or click in this area.</p>
<input type="file" accept="image/*">

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" ng-click="editRealName()" class="btn btn-dark">Submit</button>
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </div>
</ng-cloak>