<ng-cloak>
    <div class="modal-content">

        <div class="modal-body  addLargeMargin">

            <form role="form" name="myForm" ng-submit="realName(credentials)" novalidate>
                <link href="styles/styles.css" rel="stylesheet" type="text/css" />
                <h3 CLASS="text-primary" id="headTab">Choose Your Current Games!</h3>
                <br>
                <div class="div-padding">


                    <div class="col-xs-4">
                        <div class="addMargin">
                            <select class="form-control" ng-model="currentGames[0].name">
                                <option value="World of Warcraft" ng-show="currentGames[1].name !== 'World of Warcraft' && currentGames[2].name !== 'World of Warcraft'">World of Warcraft</option>
                                <option value="League of Legends" ng-show="currentGames[1].name !== 'League of Legends' && currentGames[2].name !== 'League of Legends'">League of Legends</option>
                                <option value="CS:GO" ng-show="currentGames[1].name !== 'CS:GO' && currentGames[2].name !== 'CS:GO'">CS:GO</option>
                                <option value="HearthStone" ng-show="currentGames[1].name !== 'HearthStone' && currentGames[2].name !== 'HearthStone'">HearthStone</option>
                                <option value="Diablo 3" ng-show="currentGames[1].name !== 'Diablo 3' && currentGames[2].name !== 'Diablo 3'">Diablo 3</option>
                            </select>
                            <div ng-show="currentGames[0].name === 'World of Warcraft'">
                                <input type="text" class="form-control" ng-model="currentGames[0].warcraftCharacter" placeholder="Character Name">
                                <input type="text" class="form-control" ng-model="currentGames[0].warcraftRealm" placeholder="Realm">
                            </div>
                            <div ng-show="currentGames[0].name === 'League of Legends'">
                                <input type="text" class="form-control" ng-model="currentGames[0].leagueSummoner" placeholder="Summoner Name">
                            </div>
                            <div ng-show="currentGames[0].name === 'Diablo 3'">
                                <input type="text" class="form-control" ng-model="currentGames[0].diabloCharacter" placeholder="Battle Tag">
                            </div>
                        </div>
                        <div class="addMargin">
                            <select class="form-control" ng-model="currentGames[1].name">
                                <option value="World of Warcraft" ng-show="currentGames[0].name !== 'World of Warcraft' && currentGames[2].name !== 'World of Warcraft'">World of Warcraft</option>
                                <option value="League of Legends" ng-show="currentGames[0].name !== 'League of Legends' && currentGames[2].name !== 'League of Legends'">League of Legends</option>
                                <option value="CS:GO" ng-show="currentGames[0].name !== 'CS:GO' && currentGames[2].name !== 'CS:GO'">CS:GO</option>
                                <option value="HearthStone" ng-show="currentGames[0].name !== 'HearthStone' && currentGames[2].name !== 'HearthStone'">HearthStone</option>
                                <option value="Diablo 3" ng-show="currentGames[0].name !== 'Diablo 3' && currentGames[2].name !== 'Diablo 3'">Diablo 3</option>

                            </select>
                            <div ng-show="currentGames[1].name === 'World of Warcraft'">
                                <input type="text" class="form-control" ng-model="currentGames[1].warcraftCharacter" placeholder="Character Name">
                                <input type="text" class="form-control" ng-model="currentGames[1].warcraftRealm" placeholder="Realm">
                            </div>
                            <div ng-show="currentGames[1].name === 'League of Legends'">
                                <input type="text" class="form-control" ng-model="currentGames[1].leagueSummoner" placeholder="Summoner Name">
                            </div>
                            <div ng-show="currentGames[1].name === 'Diablo 3'">
                                <input type="text" class="form-control" ng-model="currentGames[1].diabloCharacter" placeholder="Battle Tag">
                            </div>
                        </div>

                        <div class=a ddMargin>
                            <select class="form-control addMargin" ng-model="currentGames[2].name">
                                <option value="World of Warcraft" ng-show="currentGames[0].name !== 'World of Warcraft' && currentGames[1].name !== 'World of Warcraft'">World of Warcraft</option>
                                <option value="League of Legends" ng-show="currentGames[0].name !== 'League of Legends' && currentGames[1].name !== 'League of Legends'">League of Legends</option>
                                <option value="CS:GO" ng-show="currentGames[1].name !== 'CS:GO' && currentGames[0].name !== 'CS:GO'">CS:GO</option>
                                <option value="HearthStone" ng-show="currentGames[1].name !== 'HearthStone' && currentGames[0].name !== 'HearthStone'">HearthStone</option>
                                <option value="Diablo 3" ng-show="currentGames[0].name !== 'Diablo 3' && currentGames[1].name !== 'Diablo 3'">Diablo 3</option>

                            </select>
                            <div ng-show="currentGames[2].name === 'World of Warcraft'">
                                <input type="text" class="form-control" ng-model="currentGames[2].warcraftCharacter" placeholder="Character Name">
                                <input type="text" class="form-control" ng-model="currentGames[2].warcraftRealm" placeholder="Realm">
                            </div>
                            <div ng-show="currentGames[2].name === 'League of Legends'">
                                <input type="text" class="form-control" ng-model="currentGames[2].leagueSummoner" placeholder="Summoner Name">
                            </div>
                            <div ng-show="currentGames[2].name === 'Diablo 3'">
                                <input type="text" class="form-control" ng-model="currentGames[2].diabloCharacter" placeholder="Battle Tag">
                            </div>v
                        </div>

                        <p class="text-danger">{{error}}</p>



                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="editCurrentGames()" class="btn btn-dark">Submit</button>
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </div>
</ng-cloak>