<form role="form" ng-hide=loginStatus ng-submit="login(credentials)" novalidate>
    <h2 CLASS="text-primary" class="header" id="headTab">Login</h2>
    <div class="form-group">

        <div class="col-xs-4" >
            <!--label for="username" class="text-primary"> Username:</label><br-->

            <input type="text" id="username" name="username" ng-model="credentials.username"
                   class="form-control col-sm-2" placeholder="UserName:">
            <br>
            <!--label for="password" class="text-primary"> Password:</label><br-->
            <input type="password" id="password" name="password" ng-model="credentials.password"
                   class="form-control col-sm-2" placeholder="Password:">
            <br>
            <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            <p class="text-danger">{{error}}</p>
            
                <button type="button" class="btn btn-dark btn-lg" ng-click="open()"> Sign up</button>
            
        </div>
    </div>
</form>


<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to Nexus!</h1>
        <h3>Social &amp; Gaming</h3>
        <br>
        <!--a href="#services" class="btn btn-dark btn-lg">Find Out More</a-->
    </div>
</header>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Matchmaking</strong>
                            </h4>

                            <p>Connecting you with other players based on your rank!</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Instant Messaging</strong>
                            </h4>

                            <p>Talk to other players instantly!</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Community</strong>
                            </h4>

                            <p>A live community where players can have post, talk about, and share strategies about their games.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Profile</strong>
                            </h4>

                            <p>A page where other players can learn more about you!</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Share your knowledge among your peers!</h1>
    </div>
</aside>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Have you ever wonder?</h2>

                <p class="lead">That its possible to have a social life and gaming all at the sametime!</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Games supported</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <!--a href="#"-->
                                <img class="img-portfolio img-responsive" src="images/games/lol-logo.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <!--a href="#"-->
                                <img class="img-portfolio img-responsive" src="images/games/world-of-warcraft-logo.jpg">
                            </a>
                        </div>
                    </div>
                    <!--iv class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="images/portfolio-3.jpg">
                            </a>
                        </div>
                    </div-->
                    <!--div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="images/portfolio-4.jpg">
                            </a>
                        </div>
                    </div-->
                </div>
                <!-- /.row (nested) -->
                <a href="#headTab" class="btn btn-dark">View More Games</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Nexus, safe community of friends and gaming</h3>
                <!--a href="#" class="btn btn-lg btn-light">Click Me!</a-->
                <!--a href="#" class="btn btn-lg btn-dark">Look at Me!</-->
            </div>
        </div>
    </div>
</aside>

    <button type="submit" class="button" ng-click="logout()">Logoff</button>


