<ng-cloak>
    <div class="container target" id="userProfile">
        <div class="row">
            <div class="col-xs-10 col-sm-10">
                <h1 class="">{{ profile.userName }}</h1>
            </div>
            <div ng-mouseover="hoverProfilePic = true" ng-mouseleave="hoverProfilePic = false" class="col-xs-2 col-sm-2">
                <div class="pull-right">
                    <div class="img-square img-responsive profile-pic">
                        <img id="profilePicSize" title="profile image" src="{{ profile.profilePic }}">
                        <div ng-show="hoverProfilePic" class="edit"><a ng-click="editProfilePic()">edit</a></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <!--Doesn't make sense to have add friends for main user profile-->
                    <!--<button ng-show= "friendCheck" type="button" class="btn btn-success" ng-click="open()">Friend Me!</button>-->
                    <button type="button" class="btn btn-info" ng-click="open()">Send message</button>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="pull-left col-xs-2 col-sm-2">
                    <ul class="nav nav-justified">
                        <li class="active"><a href="" data-toggle="tabs">Main</a></li>
                        <li><a href="" data-toggle="tabs">Info</a></li>
                        <li ng-click="matchmaking()"><a>Matchmaking</a></li>
                    </ul>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <!--left col-->
                    <div ng-mouseover="profileEdit = true" ng-mouseleave="profileEdit = false">
                        <ul class="list-group">
                            <li class="list-group-item text-muted" contenteditable="false">Profile <a class="pull-right" ng-show="profileEdit" ng-click="editProfile()">Edit</a></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong
                            class="">Joined</strong></span> {{ profile.join }}

                            </li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last
                        seen</strong></span> {{ profile.lastSeen }}
                            </li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real
                        name</strong></span> {{ profile.realName }}
                            </li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong
                            class="">Level: </strong></span> {{ profile.forumLvl }}

                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default" ng-mouseover="currentGamesEdit = true" ng-mouseleave="currentGamesEdit = false">
                        <div class="panel-heading">Current Games<span class="pull-right" ng-show="currentGamesEdit" ng-click="editCurrentGames()">Edit</span>
                        </div>
                        <div class="panel-body" ng-repeat="currGame in profile.currentGames"><i style="color:green" class="fa fa-check-square"></i>
                            <a href="{{currGame.gameLinks}}"> {{currGame.name}}</a>

                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                        </li>
                        <!--li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span>
                        {{ profile.shares }}
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> {{
                        profile.likes }}
                    </li-->
                        <li class="list-group-item text-right"><span class="pull-left"><strong
                            class="">Posts</strong></span> {{ profile.posts }}
                        </li>
                        <!--li class="list-group-item text-right"><span class="pull-left"><strong
                            class="">Followers</strong></span> {{ profile.followers }}
                    </li-->
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">Social Media</div>
                        <div ng-repeat="website in links " class="panel-body">
                            <a ng-href="{{website.socialLinks}}">
                                <p>{{ website.websiteName }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!--/col-3-->
                <div class="col-xs-9 col-sm-9" contenteditable="false" style="">
                    <div class="panel panel-default" ng-mouseover="aboutEdit = true" ng-mouseleave="aboutEdit = false">
                        <div class="panel-heading">About {{ profile.userName }}<a class="pull-right" ng-show="aboutEdit" ng-click="editAbout()">Edit</a></div>
                        <div class="panel-body">
                            <p>{{ profile.description }}</p>

                        </div>
                    </div>
                    <!--div class="panel panel-default target">
                    <div class="panel-heading" contenteditable="false">Games Currently Playing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-md-4" ng-repeat="gamePlay in gamePlay">
                                <div class="thumbnail">
                                    <a ng-href="{{ gamePlay.gameForum }}">
                                    <img width="272" height="150" src="images/{{gamePlay.gamePic}}"></a>

                                    <div class="caption">
                                        <h3>
                                            {{ gamePlay.gameName }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </--div-->
                    <div class="panel panel-default target">
                        <div class="panel-heading" contenteditable="false">Friends</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4 col-md-4" ng-repeat="friend in friends.friends">
                                    <!--<div class="friendpics">-->
                                        <a ng-href="{{ friend}}"> </a>
                                            <!--<img id="friendPicSize" src="images/{{friends.friendPic}}"></a>-->

                                        <div class="caption">
                                            <h3>
                                            {{ friend}}
                                        </h3>
                                        </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="push"></div>
        </div>
        <script src="/plugins/bootstrap-pager.js"></script>
    </div>
</ng-cloak>