
        <div>
            <br>
            <br>
            <br>
            <br>
            something
            <h1>
                <!--Summoner name here-->
                <title>Summoner</title>

                <p>{{ detail.id }}</png>
                <p>{{ detail.name }}</p>
                <p>{{ detail.profileIconId }}</p>
                <p>{{ detail.summonerLevel }}</p>
                <p>{{ detail.revisionDate }}</p>
                <p>somethign3131</p>
            </h1>
            <body>

            </body>
        </div>

    </div>
