<div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div align="center">
        <img src="images/Games/lol-logo.png">
    </div>
    <br>
    <!--need a dropdown to display per champion selected-->
    <div>
        <form>
            <label>Select a champion: </label>
            <select name="selectChamps" ng-model="summonerInfo.selectChamps">
                <option ng-repeat="champs in summonerInfo.champions " value = {{champs}}>{{champs['id']}}</option>
            </select>
        </form>

        {{summonerInfo.selectChamps}}
    </div>

    <br>
    <br>
    <section id="news" class="news bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Summoner:  {{summonerName}} </h2>
                    <hr class="small">
                    <div class="feed-container">
                        <h2>Champion: {{ summonerInfo.champions[0]['id']}}</h2>
                        <!--need to return champion profile and Name-->
                        <p>Total Sessions Played: {{ summonerInfo.champions[0]["stats"]["totalSessionsPlayed"] }} </p>

                        <p>Total Deaths Per Session: {{ summonerInfo.champions[0]["stats"]["totalDeathsPerSession"] }}</p>

                        <p>Total Damage Taken: {{ summonerInfo.champions[0]["stats"]["totalDamageTaken"] }}</p>

                        <p>Total Minion Kills: {{ summonerInfo.champions[0]["stats"]["totalMinionKills"] }}</p>

                        <p>Max Champions Killed: {{ summonerInfo.champions[0]["stats"]["maxChampionsKilled"] }}</p>

                        <p>Total Double Kills: {{ summonerInfo.champions[0]["stats"]["totalDoubleKills"] }}</p>

                        <p>Total Physical DamageDealt: {{ summonerInfo.champions[0]["stats"]["totalPhysicalDamageDealt"] }}</p>

                        <p>Total Champion Kills: {{ summonerInfo.champions[0]["stats"]["totalChampionKills"] }}</p>

                        <p>Total Assists: {{ summonerInfo.champions[0]["stats"]["totalAssists"] }}</p>

                        <p>Total Damage Dealt: {{ summonerInfo.champions[0]["stats"]["totalDamageDealt"] }}</p>

                        <p>Most Champion Kills Per Session: {{ summonerInfo.champions[0]["stats"]["mostChampionKillsPerSession"] }}</p>

                        <p>Total Sessions Lost: {{ summonerInfo.champions[0]["stats"]["totalSessionsLost"] }}</p>

                        <p>Total Sessions Won: {{ summonerInfo.champions[0]["stats"]["totalSessionsWon"] }}</p>

                        <p>Total Magic Damage Dealt: {{ summonerInfo.champions[0]["stats"]["totalMagicDamageDealt"] }}</p>

                        <p>Total Gold Earned: {{ summonerInfo.champions[0]["stats"]["totalGoldEarned"] }}</p>

                        <p>Total Turrets Killed: {{ summonerInfo.champions[0]["stats"]["totalTurretsKilled"] }}</p>

                        <p>Max Number of Deaths: {{ summonerInfo.champions[0]["stats"]["maxNumDeaths"] }}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

