<div class="modal-content">

    <div class="modal-body">

        <form role="form" name = "myForm" novalidate>
            <link href="styles/styles.css" rel="stylesheet" type="text/css" />
                <center> 
                <h2 CLASS="text-primary" id="headTab">More Supported Games</h2>
                <hr class="small">
                    <div class="row">
                        <p>-<a href="http://na.leagueoflegends.com/">Leauge of Legends</a></p>
                        <p>-<a href="https://us.battle.net/shop/en/product/world-of-warcraft?-                                                                                                                                           &utm_source=Google%20US&utm_medium=Search&utm_content=15674737&utm_campaign
                            =LQA_WoW%20Holiday%202015%20Campaign">World Of Warcraft</a></p>
                        <p>-<a href="http://blog.counter-strike.net/">Counter Strike Go</a></p>
                        <p>-<a href="http://us.battle.net/hearthstone/en/">HearthStone</a></p>
                    </div>
                </center>
        </form>
    </div>
    <div class="modal-footer">
                        <!--button type="button" ng-click="editAboutUser()" class="btn btn-dark">Submit</button -->
                        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                        <p class="text-danger">{{error}}</p>
    </div>
</div>